In [2]:
import pandas as pd
df=pd.read_csv("Downloads\Bengaluru_House_Data.csv")
df.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [3]:
df.shape

(13320, 9)

In [4]:
df.columns

Index(['area_type', 'availability', 'location', 'size', 'society',
       'total_sqft', 'bath', 'balcony', 'price'],
      dtype='object')

In [5]:
df['area_type'].unique()

array(['Super built-up  Area', 'Plot  Area', 'Built-up  Area',
       'Carpet  Area'], dtype=object)

In [7]:
df['area_type'].value_counts()

area_type
Super built-up  Area    8790
Built-up  Area          2418
Plot  Area              2025
Carpet  Area              87
Name: count, dtype: int64

In [8]:
df=df.drop(['area_type','society','balcony','availability'],axis='columns')
df.shape

(13320, 5)

In [9]:
df.isnull().sum()

location       1
size          16
total_sqft     0
bath          73
price          0
dtype: int64

In [18]:
df=df.dropna()
df.isnull().sum()

location      0
size          0
total_sqft    0
bath          0
price         0
dtype: int64

In [11]:
df['bhk'] = df['size'].apply(lambda x: int(x.split(' ')[0]))
df.bhk.unique()

AttributeError: 'float' object has no attribute 'split'

In [33]:
df['bhk'] = df['size'].apply(lambda x: int(x.split(' ')[0]) if isinstance(x, str) else None)
df.bhk.unique()

array([ 2.,  4.,  3.,  6.,  1.,  8.,  7.,  5., 11.,  9., nan, 27., 10.,
       19., 16., 43., 14., 12., 13., 18.])

In [23]:
def is_float(x):
    try:
        float(x)
    except:
        return False
    return True

In [35]:
#df[df['total_sqft'].apply(is_float)].head(10)

In [38]:
df[~df['total_sqft'].apply(is_float)].head(10)#negation to above one

Empty DataFrame
Columns: [location, size, total_sqft, bath, price, price_per_sqft, bhk]
Index: []

In [41]:
def convert_sqft_to_num(x):
    tokens = x.split('-')
    if len(tokens) == 2:
        return (float(tokens[0]) + float(tokens[1])) / 2
    try:
        return float(x)
    except:
        return None

In [42]:
#this code is modified version of above, since above code is not enough to split the float object which is used in below 4th code
def convert_sqft_to_num2(x):
    if isinstance(x, float):
        return x
    tokens = x.split('-')
    if len(tokens) == 2:
        return (float(tokens[0]) + float(tokens[1])) / 2
    try:
        return float(x)
    except:
        return None

In [44]:
convert_sqft_to_num('2116')

2116.0

In [62]:
convert_sqft_to_num('2100 - 2850')

2475.0

In [54]:
df=df.copy()
df.total_sqft=df.total_sqft.apply(convert_sqft_to_num)
df=df[df.total_sqft.notnull()]
df.head(3)

AttributeError: 'float' object has no attribute 'split'

In [49]:
df=df.copy()
df.total_sqft=df.total_sqft.apply(convert_sqft_to_num2)
df=df[df.total_sqft.notnull()]
df.head(3)

,location,size,total_sqft,bath,price,price_per_sqft,bhk
0,Electronic City Phase II,2 BHK,1056.0,2.0,39.07,3699.810606,2.0
1,Chikka Tirupathi,4 Bedroom,2600.0,5.0,120.00,4615.384615,4.0
2,Uttarahalli,3 BHK,1440.0,2.0,62.00,4305.555556,3.0

In [26]:
df.loc[30]

location            Yelahanka
size                    4 BHK
total_sqft             2475.0
bath                      4.0
price                   186.0
price_per_sqft    7515.151515
Name: 30, dtype: object

In [56]:
 df.loc[0]

location          Electronic City Phase II
size                                 2 BHK
total_sqft                          1056.0
bath                                   2.0
price                                39.07
price_per_sqft                 3699.810606
bhk                                    2.0
Name: 0, dtype: object

In [55]:
df=df.copy()
df['price_per_sqft']=df['price']*100000/df['total_sqft']
df.head()

,location,size,total_sqft,bath,price,price_per_sqft,bhk
0,Electronic City Phase II,2 BHK,1056.0,2.0,39.07,3699.810606,2.0
1,Chikka Tirupathi,4 Bedroom,2600.0,5.0,120.00,4615.384615,4.0
2,Uttarahalli,3 BHK,1440.0,2.0,62.00,4305.555556,3.0
3,Lingadheeranahalli,3 BHK,1521.0,3.0,95.00,6245.890861,3.0
4,Kothanur,2 BHK,1200.0,2.0,51.00,4250.000000,2.0

In [ ]:
## if above is not executed
df['price_per_sqft']=pd.to_numeric(df['price'], errors='coerce')*100000/pd.to_numeric(df['total_sqft'], errors='coerce')
df.head(3)       #df['price_per_sqft']=df['price']*100000/df['total_sqft']
                  # 'price' and 'total_sqft' columns contain numerical values.so modified formula

In [ ]:
#errors='raise': This is the default behavior. It raises an error if it encounters any value that cannot be converted to a numeric type.

#errors='coerce': It replaces non-numeric values with NaN without raising an error. This is useful when you want to convert a column to numeric type, but you're not concerned about non-numeric values and just want to replace them with NaN.

#errors='ignore': It leaves non-numeric values as they are. No error is raised, and the original values remain in the column.

In [45]:
 df.to_csv("bhp.csv",index=False)

In [58]:
df.location=df.location.apply(lambda x: x.strip())
loc_stats=df['location'].value_counts(ascending=False)
loc_stats

AttributeError: 'float' object has no attribute 'strip'

In [59]:
df['location'] = df['location'].apply(lambda x: x.strip() if isinstance(x, str) else x)
loc_stats=df['location'].value_counts(ascending=False)
loc_stats

location
Whitefield                        539
Sarjapur  Road                    399
Electronic City                   304
Kanakpura Road                    271
Thanisandra                       236
                                 ...
1st Stage Radha Krishna Layout      1
BEML Layout 5th stage               1
Kannur                              1
singapura paradise                  1
Abshot Layout                       1
Name: count, Length: 1288, dtype: int64

In [60]:
loc_stats.values.sum()

13273

In [50]:
len(loc_stats)

1287

In [49]:
len(loc_stats[loc_stats>10])

240

In [51]:
len(loc_stats[loc_stats<=10])

1047

In [63]:
loc_stats_lessthan10=loc_stats[loc_stats<=10]
loc_stats_lessthan10

location
Sadashiva Nagar                   10
BTM 1st Stage                     10
Nagadevanahalli                   10
Sector 1 HSR Layout               10
Basapura                          10
                                  ..
1st Stage Radha Krishna Layout     1
BEML Layout 5th stage              1
Kannur                             1
singapura paradise                 1
Abshot Layout                      1
Name: count, Length: 1048, dtype: int64

In [65]:
len(df.location.unique())

1289

In [68]:
df.location=df.location.apply(lambda x: 'other' if x in loc_stats_lessthan10 else x )
len(df.location.unique())

242